body,
html {
  height: 100%;
  font-size: 14px;
  font-family: 'PingFang SC', Microsoft YaHei, '微软雅黑', Tahoma, Arial, HeiTi,
    '黑体', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
i {
  font-style: normal;
}
p,
body,
ul,
figure {
  padding: 0px;
  margin: 0px;
}
input {
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
body {
  overflow: hidden;
  padding: 0 !important;
}
.el-form-item {
  // margin-bottom: 5px !important;
}
.el-dialog__body {
  padding-top: 10px !important;
  padding-bottom: 20px !important;
}
.el-dialog {
  margin-top: 0 !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ccc;
}
.el-button--text:focus,
.el-button--text,
.el-button--text:hover,
.el-select-dropdown__item.selected {
  color: #ed6807 !important;
}

.el-button--primary,
.el-radio__input.is-checked .el-radio__inner,
.el-switch.is-checked .el-switch__core {
  background-color: #ed6807 !important;
  border-color: #ed6807 !important;
}
.el-button--primary:focus,
.el-button--primary:hover {
  background-color: #f4c916 !important;
  border-color: #f4c916 !important;
}
.el-radio.is-bordered.is-checked,
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus {
  border-color: #ed6807 !important;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #ed6807 !important;
}
.el-input__inner,
.el-select,
.el-autocomplete {
  width: 100% !important;
}
